/* 
▓█████  ███▄ ▄███▓ ▄▄▄       ██▓         █████▒██▓▒███████▒ ▄▄▄         
▓█   ▀ ▓██▒▀█▀ ██▒▒████▄    ▓██▒       ▓██   ▒▓██▒▒ ▒ ▒ ▄▀░▒████▄       
▒███   ▓██    ▓██░▒██  ▀█▄  ▒██░       ▒████ ░▒██▒░ ▒ ▄▀▒░ ▒██  ▀█▄     
▒▓█  ▄ ▒██    ▒██ ░██▄▄▄▄██ ▒██░       ░▓█▒  ░░██░  ▄▀▒   ░░██▄▄▄▄██    
░▒████▒▒██▒   ░██▒ ▓█   ▓██▒░██████▒   ░▒█░   ░██░▒███████▒ ▓█   ▓██▒   
░░ ▒░ ░░ ▒░   ░  ░ ▒▒   ▓▒█░░ ▒░▓  ░    ▒ ░   ░▓  ░▒▒ ▓░▒░▒ ▒▒   ▓▒█░   
 ░ ░  ░░  ░      ░  ▒   ▒▒ ░░ ░ ▒  ░    ░      ▒ ░░░▒ ▒ ░ ▒  ▒   ▒▒ ░   
   ░   ░      ░     ░   ▒     ░ ░       ░ ░    ▒ ░░ ░ ░ ░ ░  ░   ▒      
   ░  ░       ░         ░  ░    ░  ░           ░    ░ ░          ░  ░   
                                                  ░                               
                                                                                  
                                                                                   
google font Amiri and Tomorrow imported from the google font the entire project*/

@import url('https://fonts.googleapis.com/css?family=Amiri:100,200,300,400,500,600,700|Tomorrow:100,200,300,400,500,600,700&display=swap');

/* Animation colour change css code copied from CodePen and slightly changed by myself */

body {
    animation: colorchange 45s infinite;
    /* animation-name followed by duration in seconds*/
    /* you could also use milliseconds (ms) or something like 2.5s */
    -webkit-animation: colorchange 45s infinite;
    /* Chrome and Safari */
}

@keyframes colorchange {
    0% {
        background: #ff0000;
    }
    25% {
        background: #ffc107;
    }
    50% {
        background: #0000ff;
    }
    75% {
        background: #008000;
    }
    100% {
        background: #ff0000;
    }
}

@-webkit-keyframes colorchange
/* Safari and Chrome - necessary duplicate */

    {
    0% {
        background: #ff0000;
    }
    25% {
        background: #ffc107;
    }
    50% {
        background: #0000ff;
    }
    75% {
        background: #008000;
    }
    100% {
        background: #ff0000;
    }
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* to have smooth scroll effect */
    scroll-behavior: smooth;
}

/* Nav bar of the page */

/* to have the color changed when the scroltop() is greater than the height - main.js changes the color */

.scrolled {
    box-shadow: 0 .5rem 1rem grey;
    background-color: #ca2a67 !important;
    transition: background-color 400ms linear;
}

/* to toggle the color back with a smooth transition */

.fixed-top {
    transition: background-color 400ms linear;
}

.active {
    font-family: 'Amiri', sans-serif;
    font-weight: 700;
    color: white;
    transition: color 300ms linear, font-weight 300ms linear;
}

/* main content of the game page */

#center {
    position: relative;
    width: 50%;
    height: 25%;;
    margin: auto;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10%;
    animation: newColorChange 50s infinite;
    -webkit-animation: newColorChange 50s infinite;
    /* Chrome and Safari */
}

@keyframes newColorChange {
    0% {
        border-color: white;
        box-shadow: 0 0 30px black;
    }
    50% {
        border-color: black;
        box-shadow: 0 0 30px white;
    }
}

@-webkit-keyframes newColorChange {
    0% {
        border: 5px solid white;
        box-shadow: 0 0 30px black;
    }
    50% {
        border: 5px solid black;
        box-shadow: 0 0 30px white;
    }
}


.btn-primary {
    font-family: 'Amiri', Sans-Serif;
    position: relative;
    margin: auto;
}

/* */

#fullQuiz {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10%;
    margin-left: 25%;
    border-radius: 20px;
    animation: newColorChange 50s infinite;
    -webkit-animation: newColorChange 50s infinite;  /* vendor-prefixed properties for Chrome and Safari */
    -moz-animation: newColorChange 50s infinite;     /* vendor-prefixed properties for FireFox */
    -o-animation: newColorChange 50s infinite;       /* vendor-prefixed properties for Opera */
    /* Chrome and Safari */
}

@keyframes newColorChange {
    0% {
        border-color: white;
        box-shadow: 0 0 30px black;
    }
    50% {
        border-color: black;
        box-shadow: 0 0 30px white;
    }
}

@-webkit-keyframes newColorChange {
    0% {
        border: 5px solid white;
        box-shadow: 0 0 30px black;
    }
    50% {
        border: 5px solid black;
        box-shadow: 0 0 30px white;
    }
}

#quizDiv {
    margin: 0 auto;
    text-align: center;
}

#quiz {
    text-align: center;
    font-family: 'Tomorrow', sans-serif;
    text-shadow: 1px 1px 1px black;
}

h1 {
    margin: 0 auto;
    text-align: center;
    font-family: 'Tomorrow', sans-serif;
    font-size: 60px;
    color: white;
    text-shadow: 1px 1px 1px black;
}


h2 {
    color: white;
    text-shadow: 1px 1px 1px black;
}

h3 {
    color: white;
    text-shadow: 1px 1px 1px black;
}

label {
    color: white;
    text-shadow: 1px 1px 1px black;
}


#questionDiv {
    margin: 0 auto;
    display: inline-block;
    padding-right: 20px;
}

input[type="radio"] {
    padding: 10px 10px;
}

#startButton {
    width: 20%;
    margin: 0 auto;
    height: 40px;
    border-radius: 4px;
    background-color: white;
    font-size: 16px;
    font-family: 'Amiri', sans-serif;
    box-shadow: 0 0 10px gray;
    margin-bottom: 40px;
}

#submitButton {
    margin-top: 40px;
    margin-bottom: 40px;
}

#startButton:focus {
    border-color: red;
}

/* Footer css codes copy pasted from my Stream One Project: User-Centric Frontend Development - project-kabul Code Institute */

footer {
    background-color: #343a40!important;
    color: #fafafa;
    min-height: 100px;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

.uppercase {
    text-transform: uppercase;
}

/* --The font-family for the general-sub I copied from the bootsratp navbar "DevTool" of my home page
because I wanted my footer font family to match my navbar--*/

.general-sub {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin-top: 10px;
}

.special {
    margin-left: 0px;
    margin-top: 50px;
}

.social-links {
    padding: 0;
}

.social-links li a i {
    position: relative;
    width: 32px;
    height: 32px;
    padding: 8px;
    border-radius: 50%;
    font-size: 15px;
    line-height: 12px;
    text-align: center;
    color: #fafafa;
    background-color: #8f8f8f;
    transition: all 0.40s ease-in-out;
    -moz-transition: all 0.40s ease-in-out;    /* vendor-prefixed properties for FireFox */ 
    -webkit-transition: all 0.40s ease-in-out; /* vendor-prefixed properties for Chrome and Safari */ 
    -o-transition: all 0.40s ease-in-out;      /* vendor-prefixed properties for Opera */ 
}

.social-links li a i:hover {
    background-color: #b35900;
}

/* d3.js css codes copied from https://codepen.io/zakariachowdhury/pen/OWdyjq?editors=1010 and slightly changed by myself. */ 
.pie {
  margin: 20px;
}

svg {
    float: left;
}

.legend {
  float: left;
  font-family: "Verdana";
  font-size: .7em;
}

.pie text {
  font-family: "Verdana";
  fill: #000;
}

.pie .name-text{
  font-size: 1.5em;
}

.pie .value-text{
  font-size: 3em;
}